{% extends 'layout.html' %}

{% block content %}
    <h1>{{ depot.depot_holder_name }}'s Depot</h1>
    <table>
        <tr>
            <th>Transaction Date</th>
            <th>Amount</th>
            <th>Currency Rate</th>
        </tr>
        {% for transaction in depot.transactions %}
            <tr>
                <td>{{ transaction.transaction_date }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.currency_rate }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}