{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h2>Scientific Programming Project Page</h2>
        <p>by Sascha, Simon & Nick</p>

        <br/>

        <h4>Problem 1</h4>
        <p>The price of cryptocurrencies is very volatile. It is often unclear whether the fluctuations only affect a
            specific currency or whether the entire crypto market is affected.</p>
        <h4>Objective 1</h4>
        <p>This project aims to enable crypto newcomers to compare price fluctuations of individual currencies with the
            fluctuation of the overall crypto market.</p>
        <h4>Research Question1</h4>
        <p>How can the relation between the price of a cryptocurrency and the progress of the market capitalization of
            the whole cryptomarket be identified.</p>

        <br/>

        <h4>Problem 2</h4>
        <p>On decentralized exchanges and swaps, token exchanges must be initiated by contract number. To do this,
            investors need to find out what contract number a token has. Fraudsters exploit this by creating duplicates
            of new and successful projects to steal money from crypto newcomers. They search for certain project names
            on information platforms and run the risk of finding a fraudulent duplicate.</p>
        <h4>Objective 2</h4>
        <p>This project aims to enable crypto entrants to check whether multiple contracts already exist for a given token on a blockchain.</p>
        <h4>Research Question 2</h4>
        <p>How can multiple tokens with an identical name on a blockchain be identified?</p>

    </div>
{% endblock %}