<!-- https://getbootstrap.com/docs/4.0/components/navbar/#nav -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Check Token
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/fomo?bc=eth">Ethereum</a></li>
                        <li><a class="dropdown-item" href="/fomo?bc=bsc">BNB Smart Chain</a></li>
                        <li><a class="dropdown-item" href="/fomo?bc=poly">Polygon</a></li>
                    </ul>
                </li>
                <a class="nav-item nav-link" href="/crypto">Crypto</a>
            </div>
        </div>
    </nav>
</header>