<!-- https://getbootstrap.com/docs/4.0/components/navbar/#nav -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/overview">Coin Overview</a>
                <a class="nav-item nav-link" href="/depot">Depot</a>
                <a class="nav-item nav-link" href="/spotify">DataFrame</a>
                <a class="nav-item nav-link" href="/gecko">Gecko</a>
                <a class="nav-item nav-link" href="/fomo">Fomo</a>
            </div>
        </div>
    </nav>
</header>